####### example-requirements.txt #######

###### Requirements without Version Specifiers ######

#pip install -r C:\Python\azure-openai-lab\support\requirements\requirements.txt
#py -m pip install <package>

numpy
pandas
python-dotenv
seaborn
streamlit
tiktoken
scikit-learn
openpyxl
tiktoken
chromadb
langchain
langchain-openai
langchain-community
langchain-chroma
python-dotenv
pysqlite3-binary


###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers

openai


###### Refer to other requirements files ######
# -r other-requirements.txt
#


###### A particular file ######
# ./downloads/numpy-1.9.2-cp34-none-win32.whl
# http://wxpython.org/Phoenix/snapshot-builds/wxPython_Phoenix-3.0.3.dev1820+49a8884-cp34-none-win_amd64.whl
